<div class="container header-genre">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="header">
                <div class="header-back" (click)="goBack()">
                    <img src="assets/images/Back.svg" />
                </div>
                <div class="header-title">
                    <p>{{genre}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <app-search-box (onTypeCompleted)="searchBooks($event)"></app-search-box>
        </div>
    </div>
</div>

<div class="content-background">
    <app-book 
        [books]="books" 
        [scrollDisabled]="scrollDisabled"
        (onPageScroll)="loadBooks()"></app-book>
</div>
